/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
public/sitemap.xml
.env
resources/views/extend/footer.blade.php
.VSCodeCounter/2021-11-07_13-55-19/details.md
.VSCodeCounter/2021-11-07_13-55-19/results.csv
.VSCodeCounter/2021-11-07_13-55-19/results.md
.VSCodeCounter/2021-11-07_13-55-19/results.txt
.VSCodeCounter/2021-11-07_13-55-36/details.md
.VSCodeCounter/2021-11-07_13-55-36/results.csv
.VSCodeCounter/2021-11-07_13-55-36/results.md
.VSCodeCounter/2021-11-07_13-55-36/results.txt
