/* fallback */
@font-face {
    font-family: "Material Icons Outlined";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/material-icons.woff2) format("woff2");
}

.material-icons-outlined {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
}

body {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.mdui-theme-primary-blue .mdui-color-theme {
    color: #fff !important;
}

.mdui-tab-scrollable {
    padding-left: 0 !important;
}

.mdui-container .mdui-btn,
.mdui-dialog-actions .mdui-btn {
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}

.mdui-card,
.mdui-dialog,
.mdui-panel-item,
.mdui-table-fluid {
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}

.mdui-tab a {
    border-radius: 3px 3px 0 0 !important;
    -webkit-border-radius: 3px 3px 0 0 !important;
    -moz-border-radius: 3px 3px 0 0 !important;
    -ms-border-radius: 3px 3px 0 0 !important;
    -o-border-radius: 3px 3px 0 0 !important;
}

.pjax-container {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.mdui-typo-display-2 {
    margin-bottom: 10px;
}

.can_copy {
    cursor: pointer;
}

.editormd-html-preview > h1,
.editormd-html-preview > h2,
.editormd-html-preview > h3,
.editormd-html-preview > h4,
.editormd-html-preview > h5,
.editormd-html-preview > h6 {
    margin-top: 0 !important;
}

.editormd-html-preview img {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.mdui-card .mdui-icon {
    color: rgba(0, 0, 0, 0.54);
}

.verified_user {
    font-size: 21px;
}

.power-btn {
    user-select: none;
    cursor: pointer;
}

.mdui-drawer {
    background-color: white !important;
    padding-right: 5px;
}

#main-drawer {
    transition-delay: 0 !important;
    transition-duration: 0.3s !important;
    transition-timing-function: ease !important;
}

.mdui-drawer .mdui-list-item {
    border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -ms-border-radius: 0 50px 50px 0;
    -o-border-radius: 0 50px 50px 0;
}

.mdui-drawer .mdui-list-item-active {
    color: #2196f3 !important;
}

.mdui-appbar .mdui-toolbar {
    height: 56px !important;
}

@media (prefers-color-scheme: dark) {
    .mdui-drawer {
        background-color: #303030 !important;
        color: #fff !important;
    }

    .mdui-card .mdui-icon {
        color: #fff;
    }
}

.mdui-menu-cascade {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.material-icons {
    font-family: "Material Icons Outlined";
}

.turn-animate {
    animation: turn 2s linear infinite;
    -webkit-animation: turn 2s linear infinite;
    animation-play-state: paused;
}

@keyframes turn {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.mdui-list-item-active .mdui-list-item-content {
    font-weight: 500 !important;
}

a {
    cursor: pointer;
}

#main .mdui-list .mdui-list-item {
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    padding-top: 4px;
    padding-bottom: 5px;
}

#main .mdui-list .mdui-list-item .mdui-switch {
    position: absolute;
    right: 30px;
}

#main-drawer {
    width: 300px !important;
}

@media (min-width: 1024px) {
    .mdui-drawer-close {
        transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
    }
}

.animate_height {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.kanban-board {
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}

.kanban-item {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
