<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js" integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A" crossorigin="anonymous"></script>
</head>
<body>
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-typo-display-3">Light App Engine</div>
            <div class="mdui-typo-display-1-opacity">借助 LAE 轻量应用引擎 在互联网中快速开辟一席之地</div>
        </div>
    </div>
</body>
</html>