<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous"/>
    </head>
    <body class="mdui-container mdui-center">
        <br/>
        <div class="mdui-row">
            <div class="mdui-typo-display-2 mdui-text-center">Light App Engine</div><br>
            <div class="mdui-typo-headline-opacity mdui-text-center">借助 LAE 轻量应用引擎 在互联网中快速开辟一席之地</div><br>
        </div>

        <div class="mdui-row mdui-center">
            <div class="mdui-card mdui-col-xs-7 mdui-float-left mdui-m-a-1">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">什么是 Light App Engine ？</div>
                </div>

                <div class="mdui-card-content">往简单了说，你可以在这里充值积分。创建自己的按时计费的容器，你可以在容器中做你想做的事情，前提是不违规。在你不想使用或者没有足够的余额的时候，我们会收回它。这也意味着，你得准备好充足的积分，确保你的容器能够稳定持久的运行。</div>
            </div>

            <div class="mdui-card mdui-col-xs-7 mdui-float-right mdui-m-a-1">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">在这个平台可以做什么？</div>
                </div>

                <div class="mdui-card-content">你可以租赁容器，进行测试。或者利用容器组建一个集群，还可以使用单一容器开一个 Minecraft 服务器之类的。</div>
            </div>
        </div>
    </body>
</html>